<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
<h1 class="bg-inverse p-3 mt-0 text-center text-white">Crypto Currency Dashboard</h1>
<div class="container p-1">
    <div id="app" class="p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4 p-0 m-0">
                        <div class="card">
                            <div class="card-header">
                                <div class="dropdown">
                                    <button class="btn btn-secondary dropdown-toggle" type="button"
                                            id="dropdownMenuButton"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span v-if="lastHour">
                                        [[startDate|humanDateWithHourMin]] - [[endDate|humanDateWithHourMin]]
                                        </span>
                                        <span v-else>
                                        [[startDate|humanDate]] - [[endDate|humanDate]]
                                        </span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a v-for="v,k in ranges"
                                           :id="k"
                                           @click="filterCryptoCurrencies(v,$event)"
                                           class="dropdown-item"
                                           href="#">
                                            [[k]]
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item">
                                            <div class="py-2">Custom Date Range</div>
                                            <div class="form-group row">
                                                <label for="example-text-input"
                                                       class="col-2 col-form-label">From</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="date" v-model="startDate"
                                                           @change="filterCryptoCurrencies">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="example-text-input"
                                                       class="col-2 col-form-label">To</label>
                                                <div class="col-10">
                                                    <input class="form-control" type="datetime" v-model="endDate"
                                                           @change="filterCryptoCurrencies">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 p-0 m-0">
                        <div class="card">
                            <div class="card-header">
                                <div class="form-group p-0 m-0">
                                    <select v-model="bot.selected" class="form-control p-0 m-0"
                                            @change.prevent="filterCryptoCurrencies">
                                        <option v-for="option in bot.options" :value="option.value">
                                            [[option.text ]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="lineChartDiv">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    BOT1
                </div>
                <div class="card-block">
                    <div id="barChartBot1" class="p-0 m-0"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Top Ten Trades
                </div>
                <div class="card-block p-0 m-0 small">
                    <table class="table  table-bordered table-hover">
                        <thead>
                        <tr class="small">
                            <th>Info</th>
                            <th>Quantity</th>
                            <th>Value</th>
                            <th>Volume</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="small" v-for="last_trade in lastTrades">
                            <td v-if="last_trade.info=='buy'" class="bg-danger p-1 text-center">[[
                                last_trade.info ]]
                            </td>
                            <td v-else class="bg-success p-1 text-center">[[ last_trade.info ]]</td>
                            <td>[[ last_trade.quantity ]]</td>
                            <td>[[ last_trade.value ]]</td>
                            <td>[[ last_trade.volume ]]</td>
                            <td>[[ last_trade.year]]/[[last_trade.month]]/[[last_trade.day]]
                                [[last_trade.hour]]:[[last_trade.minute]]:[[last_trade.second]]
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="card-group">
            <div class="card">
                <div class="card-header">
                    BOT2
                </div>
                <div class="card-block">
                    <div id="barChartBot2" class="p-0 m-0"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    BOT3
                </div>
                <div class="card-block">
                    <div id="barChartBot3" class="p-0 m-0"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>


    Vue.filter('humanDate', function (value) {
        return moment(value).format('MMM Do YYYY')
    });
    Vue.filter('humanDateWithHourMin', function (value) {
        return moment(value).format('MMM Do YYYY HH:MM')
    });
    Vue.filter('getFirstFromList', function (value) {
        return value[0]
    });
    Vue.filter('queryDate', function (value) {
        return moment(value).format('YYYY-MM-DD')
    });


    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data() {
            return {
                ranges: {
                    'Last Hour': [moment(), moment()],
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },

                bot: {
                    selected: 'BOT1',
                    options: [
                        {text: 'BOT1', value: 'BOT1'},
                        {text: 'BOT2', value: 'BOT2'},
                        {text: 'BOT3', value: 'BOT3'},
                    ]
                },
                startDate: moment().subtract(7, 'days').format("YYYY-MM-DD"),
                endDate: moment().subtract(1, 'days').format("YYYY-MM-DD"),
                lastTrades:{{ last_trades }},
                cryptoCurrencies: '',
                showDatePicker: false,
                showDateRangeInput: false,
                lastHour: false,
                sum:{{ sums }}

            }
        },
        methods: {
            drawTimeAndSeriesChart() {
                this.filterCryptoCurrencies();
            },
            filterCryptoCurrencies(daterange, event) {
                if (event) {
                    if (daterange) {
                        let fromDate = moment(daterange[0]).format("YYYY-MM-DD");
                        let toDate = moment(daterange[1]).format("YYYY-MM-DD");
                        alert(fromDate)
                        if (event.target.id === 'Last Hour') {
                            this.startDate = moment().subtract(1, 'hours').format('YYYY-MM-DD HH:MM');
                            this.endDate = moment().format('YYYY-MM-DD HH:MM');
                            this.lastHour = true;
                        } else {
                            this.startDate = fromDate + " 00:00";
                            this.endDate = toDate + " 23:59";
                            this.lastHour = false;
                        }
                    }
                }

                let url = '/api/crypto-currencies/';
                let filters = {
                    bot: this.bot.selected,
                    created_at_0: this.startDate,
                    created_at_1: this.endDate,
                };
                axios.get(url, {
                    params: filters
                })
                    .then(response => {
                            // JSON responses are automatically parsed.

                            let cryptoCurrencyOptions = {
                                lineChart: {
                                    xrp: {
                                        x: [],
                                        y: [],
                                        type: 'scatter',
                                        name: 'XRP',

                                    },
                                    btc: {
                                        x: [],
                                        y: [],
                                        type: 'scatter',
                                        name: "BTC",
                                        totalBalance: ''
                                    },
                                    ltc: {
                                        x: [],
                                        y: [],
                                        type: 'scatter',
                                        name: "LTC",

                                    },
                                },
                                barChart: {
                                    bot1: [{
                                        type: 'bar',
                                        x: [this.sum.bot1.xrp, this.sum.bot1.btc, this.sum.bot1.ltc],
                                        y: ['XRP', 'BTC', 'LTC'],
                                        orientation: 'h'
                                    }],
                                    bot2: [{
                                        type: 'bar',
                                        x: [this.sum.bot2.xrp, this.sum.bot2.btc, this.sum.bot2.ltc],
                                        y: ['XRP', 'BTC', 'LTC'],
                                        orientation: 'h'
                                    }],
                                    bot3: [{
                                        type: 'bar',
                                        x: [this.sum.bot3.xrp, this.sum.bot3.btc, this.sum.bot3.ltc],
                                        y: ['XRP', 'BTC', 'LTC'],
                                        orientation: 'h'
                                    }],

                                },
                            };
                            results = response.data;
                            console.log(results)
                            for (let i = 0; i < results.length; i++) {
                                let currency = results[i]['currency'].toString().toLowerCase().toString();
                                let bot = results[i]['bot'].toString().toLowerCase();
                                let create_at = results[i]['created_at'];
                                let profit = results[i]['profit'];
                                cryptoCurrencyOptions.lineChart[currency].x.push(create_at);
                                cryptoCurrencyOptions.lineChart[currency].y.push(profit);
                            }
                            data = [cryptoCurrencyOptions.lineChart.xrp, cryptoCurrencyOptions.lineChart.btc, cryptoCurrencyOptions.lineChart.ltc];
                            var layout = {
                                title: 'Profit Vs Time of Crypto Currencies of ' + this.bot.selected,
                                xaxis: {
                                    title: 'Time',
                                    showgrid: false,
                                    zeroline: false
                                },
                                yaxis: {
                                    title: 'Profit in % ',
                                    showline: false
                                }
                            };
                            Plotly.newPlot('lineChartDiv', data, layout);
                            Plotly.newPlot('barChartBot1', cryptoCurrencyOptions.barChart.bot1);
                            Plotly.newPlot('barChartBot2', cryptoCurrencyOptions.barChart.bot2);
                            Plotly.newPlot('barChartBot3', cryptoCurrencyOptions.barChart.bot3);

                        }
                    )
                    .catch(e => {
                        console.log(e)
                    })

            }
        },

        created() {

            this.drawTimeAndSeriesChart()
        }
    })
</script>


</body>
</html>