<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"
          href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
</head>
<body>
<div class="container">
    <h1 class="bg-inverse p-3 mt-0 text-center text-white">Crypto Currency Dashboard</h1>
    <div id="app" class="p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4 p-0 m-0">
                        <div class="card">
                            <div class="card-header">
                                <div id="reportrange" class="pull-right"
                                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span></span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 p-0 m-0">
                        <div class="card">
                            <div class="card-header">
                                <div class="form-group p-0 m-0">
                                    <select v-model="bot.selected" class="form-control p-0 m-0"
                                            @change.prevent="filterCryptoCurrencies">
                                        <option v-for="option in bot.options" :value="option.value">
                                            [[option.text ]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="lineChartDiv">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
            integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
            integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>

    <!-- Include Required Prerequisites -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <!-- Include Date Range Picker -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>
        $(function () {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
        var app = new Vue({
            el: '#app',
            delimiters: ["[[", "]]"],
            data() {
                return {
                    hello: "hello",
                    {#                    cryptoCurrencyOptions: {#}
                    {#                        xrp: {#}
                    {#                            x: [],#}
                    {#                            y: [],#}
                    {#                            type: 'scatter'#}
                    {#                        },#}
                    {#                        btc: {#}
                    {#                            x: [],#}
                    {#                            y: [],#}
                    {#                            type: 'scatter'#}
                    {#                        },#}
                    {#                        ltc: {#}
                    {#                            x: [],#}
                    {#                            y: [],#}
                    {#                            type: 'scatter'#}
                    {#                        },#}
                    {#                    },#}

                    bot: {
                        selected: 'BOT1',
                        options: [
                            {text: 'BOT1', value: 'BOT1'},
                            {text: 'BOT2', value: 'BOT2'},
                            {text: 'BOT3', value: 'BOT3'},
                        ]
                    },
                    cryptoCurrencies: ''

                }
            },
            methods: {
                drawTimeAndSeriesChart() {
                    this.filterCryptoCurrencies();
                },
                filterCryptoCurrencies() {

                    let url = '/api/crypto-currencies/';
                    axios.get(url, {
                        params: {
                            bot: this.bot.selected
                        }
                    })
                        .then(response => {
                                // JSON responses are automatically parsed.
                                let cryptoCurrencyOptions = {
                                    xrp: {
                                        x: [],
                                        y: [],
                                        type: 'scatter'
                                    },
                                    btc: {
                                        x: [],
                                        y: [],
                                        type: 'scatter'
                                    },
                                    ltc: {
                                        x: [],
                                        y: [],
                                        type: 'scatter'
                                    },
                                };
                                results = response.data;
                                console.log(results);
                                for (let i = 0; i < results.length; i++) {
                                    let currency = results[i]['currency'].toString().toLowerCase();
                                    let create_at = results[i]['created_at'];
                                    let profit = results[i]['profit'];
                                    cryptoCurrencyOptions[currency].x.push(create_at);
                                    cryptoCurrencyOptions[currency].y.push(profit);
                                }

                                data = [cryptoCurrencyOptions.xrp, cryptoCurrencyOptions.btc, cryptoCurrencyOptions.ltc];
                                console.log(cryptoCurrencyOptions);
                                Plotly.newPlot('lineChartDiv', data);

                            }
                        )
                        .catch(e => {
                            console.log(e)
                        })

                }
            },

            created() {

                this.drawTimeAndSeriesChart()
            }
        })
    </script>
    <script type="text/javascript">
        $(function () {

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

        });
    </script>
    <script>


    </script>
</body>
</html>