<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css"
          href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
</head>
<body>
<div class="container">
    <h1 class="bg-inverse p-3 mt-0 text-center text-white">Crypto Currency Dashboard</h1>
    <div id="app" class="p-3">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-4 p-0 m-0">
                        <div class="card">
                            <div class="card-header">
                                <div id="reportrange" class="pull-right"
                                     style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span></span> <b class="caret"></b>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2 p-0 m-0">
                        <div class="card">
                            <div class="card-header">
                                <div class="form-group p-0 m-0">
                                    <select v-model="bot.selected" class="form-control p-0 m-0"
                                            @change.prevent="filterCryptoCurrencies">
                                        <option v-for="option in bot.options" :value="option.value">
                                            [[option.text ]]
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="lineChartDiv">
                    </div>
                </div>
                <div class="col-md-12">

                    <div class="row">
                        <div class="col-md-6 p-0 m-0">
                            <h1 class="p-0 m-0">BOT1</h1>
                            <div id="barChartBot1" class="p-0 m-0"></div>
                        </div>
                        <div class="col-md-6 p-0 m-0">
                            <div class="card p-0 m-0">
                                <div class="card-header">
                                    Top Ten Trades
                                </div>
                                <div class="card-block p-0 m-0 small">
                                    <table class="table  table-bordered table-hover">
                                        <thead>
                                        <tr class="small">
                                            <th>Info</th>
                                            <th>Quantity</th>
                                            <th>Value</th>
                                            <th>Volume</th>
                                            <th>Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="small" v-for="last_trade in lastTrades">
                                            <td v-if="last_trade.info='buy'" class="bg-danger p-1 text-center">[[
                                                last_trade.info ]]
                                            </td>
                                            <td v-else class="bg-success p-1 text-center">[[ last_trade.info ]]</td>
                                            <td>[[ last_trade.quantity ]]</td>
                                            <td>[[ last_trade.value ]]</td>
                                            <td>[[ last_trade.volume ]]</td>
                                            <td>[[ last_trade.year]]/[[last_trade.month]]/[[last_trade.day]]
                                                [[last_trade.hour]]:[[last_trade.minute]]:[[last_trade.second]]
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <h1 class="p-0 m-0">BOT2</h1>
                            <div id="barChartBot2"></div>
                        </div>
                        <div class="col-md-6">
                            <h1 class="p-0 m-0">BOT3</h1>
                            <div id="barChartBot3"></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>
    $(function () {

        var start = moment().subtract(29, 'days');
        var end = moment();

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        }

        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);

        cb(start, end);

    });
    var app = new Vue({
        el: '#app',
        delimiters: ["[[", "]]"],
        data() {
            return {
                hello: "hello",
                {#                    cryptoCurrencyOptions: {#}
                {#                        xrp: {#}
                {#                            x: [],#}
                {#                            y: [],#}
                {#                            type: 'scatter'#}
                {#                        },#}
                {#                        btc: {#}
                {#                            x: [],#}
                {#                            y: [],#}
                {#                            type: 'scatter'#}
                {#                        },#}
                {#                        ltc: {#}
                {#                            x: [],#}
                {#                            y: [],#}
                {#                            type: 'scatter'#}
                {#                        },#}
                {#                    },#}

                bot: {
                    selected: 'BOT1',
                    options: [
                        {text: 'BOT1', value: 'BOT1'},
                        {text: 'BOT2', value: 'BOT2'},
                        {text: 'BOT3', value: 'BOT3'},
                    ]
                },
                lastTrades:{{ last_trades }},
                cryptoCurrencies: ''

            }
        },
        methods: {
            drawTimeAndSeriesChart() {
                this.filterCryptoCurrencies();
            },
            filterCryptoCurrencies() {

                {#                let start = document.querySelector("input[name=daterangepicker_start]").value;#}
                {#                let end = document.querySelector("input[name=daterangepicker_end]").value;#}
                {#                start = moment(start).format('YYYY-MM-DD');#}
                {#                end = moment(start).format('YYYY-MM-DD');#}
                let url = '/api/crypto-currencies/';
                {#                url = '/api/crypt-currencies/?bot=' + this.bot.selected + "&created_at_0" + start + "&created_at_1=" + end#}
                axios.get(url, {
                    params: {
                        bot: this.bot.selected,
                        created_at_0: "2001-1-1",
                        created_at_1: "2018-12-10",
                    }
                })
                    .then(response => {
                            // JSON responses are automatically parsed.
                            let sum = {
                                bot1: {
                                    xrp: 121,
                                    btc: 2121,
                                    ltc: 999,
                                },
                                bot2: {
                                    xrp: 121,
                                    btc: 121,
                                    ltc: 333,
                                },
                                bot3: {
                                    xrp: 21,
                                    btc: 44,
                                    ltc: 55,
                                }
                            };
                            let cryptoCurrencyOptions = {
                                lineChart: {
                                    xrp: {
                                        x: [],
                                        y: [],
                                        type: 'scatter',
                                        name: 'XRP',

                                    },
                                    btc: {
                                        x: [],
                                        y: [],
                                        type: 'scatter',
                                        name: "BTC",
                                        totalBalance: ''
                                    },
                                    ltc: {
                                        x: [],
                                        y: [],
                                        type: 'scatter',
                                        name: "LTC",

                                    },
                                },
                                barChart: {
                                    bot1: [{
                                        type: 'bar',
                                        x: [sum.bot1.xrp, sum.bot1.btc, sum.bot1.ltc],
                                        y: ['XRP', 'BTC', 'LTC'],
                                        orientation: 'h'
                                    }],
                                    bot2: [{
                                        type: 'bar',
                                        x: [sum.bot2.xrp, sum.bot2.btc, sum.bot2.ltc],
                                        y: ['XRP', 'BTC', 'LTC'],
                                        orientation: 'h'
                                    }],
                                    bot3: [{
                                        type: 'bar',
                                        x: [sum.bot3.xrp, sum.bot3.btc, sum.bot3.ltc],
                                        y: ['XRP', 'BTC', 'LTC'],
                                        orientation: 'h'
                                    }],

                                },
                            };
                            results = response.data;

                            for (let i = 0; i < results.length; i++) {
                                let currency = results[i]['currency'].toString().toLowerCase();
                                let bot = results[i]['bot'].toString().toLowerCase();
                                let create_at = results[i]['created_at'];
                                let profit = results[i]['profit'];

                                cryptoCurrencyOptions.lineChart[currency].x.push(create_at);
                                cryptoCurrencyOptions.lineChart[currency].y.push(profit);
                                sum[bot][currency] += results[i][profit]
                            }

                            data = [cryptoCurrencyOptions.lineChart.xrp, cryptoCurrencyOptions.lineChart.btc, cryptoCurrencyOptions.lineChart.ltc];
                            var layout = {
                                title: 'Profit Vs Time of Crypto Currencies of ' + this.bot.selected,
                                xaxis: {
                                    title: 'Time',
                                    showgrid: false,
                                    zeroline: false
                                },
                                yaxis: {
                                    title: 'Profit in % ',
                                    showline: false
                                }
                            };
                            Plotly.newPlot('lineChartDiv', data, layout);
                            Plotly.newPlot('barChartBot1', cryptoCurrencyOptions.barChart.bot1);
                            Plotly.newPlot('barChartBot2', cryptoCurrencyOptions.barChart.bot2);
                            Plotly.newPlot('barChartBot3', cryptoCurrencyOptions.barChart.bot3);

                        }
                    )
                    .catch(e => {
                        console.log(e)
                    })

            }
        },

        created() {

            this.drawTimeAndSeriesChart()
        }
    })
</script>


</body>
</html>